{% extends 'base.html.twig' %}

{% block title %}
Liste des tricks de la categorie {{ category.name }}
{% endblock %}


{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Liste des tricks de la categorie {{ category.name }}</h1>
            </div>


            {% for trick  in tricks %}
        
                <div class="col-3 mb-3">
                    <article class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{ trick.name }}</h2>
                            <p class="card-text">{{ trick.description }}</p>
                            <a href="{{ path('tricks_details', {"slug": trick.slug}) }}" class="btn btn-primary">Voir le détail</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}