{% extends 'base.html.twig' %}

{% block title %}
Liste des tricks de la categorie {{ category.name }}
{% endblock %}


{% block body %}
    <main class="container">
        <section class="row row-section">
            <div class="col-12">
                <h1>Liste des tricks de la categorie {{ category.name }}</h1>
            </div>

{% if tricks is not null and tricks.data is defined and tricks.data|length > 0 %}

            {% for trick  in tricks.data %}
        
                <div class="col-3 mb-3">
                    <article class="card h-100 mt-3">
                      <img src="{{ asset('assets/img/tricks/mini/300x300-' ~ trick.images[0].name ) }}" class="card-img-top" alt="{{ trick.name }}">
                        <div class="card-body">
                            <h2 class="card-title">{{ trick.name }}</h2>
                            <p class="card-text">{{ trick.description }}</p>
                            <a href="{{ path('tricks_details', {"slug": trick.slug}) }}" class="btn btn-primary">Voir le détail</a>
                        </div>
                    </article>
                </div>
            {% endfor %}
            {% set path = 'categories_list' %}
            {% set slug = category.slug %}
            {% set pages = tricks.pages %}
            {% set currentPage = tricks.page %}
            {% include "_partials/_pagination.html.twig" %}
            {% else %}
             <strong>Il n'y a pas de trick dans cette catégorie.</strong>
            {% endif %}
        </section>
    </main>
{% endblock %}