{{ form_start(categoryForm) }}
    {{ form_row(categoryForm.name) }}
    {#{{ form_row(categoryForm.slug) }}  #}  

    {# {{ form_row(trickForm.created_at) }} #}
    
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(categoryForm) }}