{{ form_start(trickForm) }}
    {{ form_row(trickForm.name) }}
    {{ form_row(trickForm.description) }}
    {{ form_row(trickForm.category) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(trickForm) }}