{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include "_partials/_adminnav.html.twig" %}
            <main class="col-9 border border-light bg-white p-2">
                <h1>Liste des tricks</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Photo</th>
                            <th>Auteur</th>
                            <th>Titre</th>
                            <th>Publié le</th>
                            <th>Catégorie</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trick in tricks %}
                            <tr>
                                <td>{{ trick.id }}</td>
                                <td><img src="{{ asset('assets/img/tricks/mini/300x300-' ~ trick.images[0].name ) }}" alt="{{ trick.name }}" class="img-thumbnail"></td>
                                <td>{{ trick.user.lastname }} {{ trick.user.firstname }}</td>                                 
                                <td>{{ trick.name }}</td>  
                                <td>{{ trick.createdAt | date('d/m/Y à H:i') }}</td>        
                                <td>{{ trick.category.name }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                    <a href="{{ path('admin_tricks_edit', {id: trick.id } )}}" class="btn btn-success"><i class="far fa-edit fa-lg"></i></a>
                                    <a href="{{ path('admin_tricks_delete', {id: trick.id } )}}" class="btn btn-danger"><i class="far fa-trash-alt fa-lg"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>
        </div>
    </div>

{% endblock %}