{% extends 'base.html.twig' %}

{% block title %}Détails de {{ trick.name }}!{% endblock %}

{% block body %}
    <main class="container">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card-body">
                    <h1>{{ trick.name }}</h1>
                        <div class="btn-group" role="group">
                            <a href="{{ path('admin_tricks_edit', {'id': trick.id })}}" class="btn btn-success"><i class="far fa-edit fa-lg"></i></a>
                            <a href="{{ path('admin_tricks_delete', {'id': trick.id })}}" class="btn btn-danger"><i class="far fa-trash-alt fa-lg"></i></a>
                        </div>                                            
                </div>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        {% for iteration in 0..trick.images|length - 1 %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ iteration + 1 }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in trick.images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ asset('assets/img/tricks/mini/300x300-' ~ image.name) }}" class="d-block w-100" alt="{{ trick.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-12 description-container  separator">
                <p><strong>Description :</strong> {{ trick.description }}</p>
                <p><strong>Catégorie : </strong>{{ trick.category.name }}</p>
                <p>
                    <small>
                        <strong>Auteur :</strong>
                        {{ trick.user.lastname }} {{ trick.user.firstname }}, le {{ trick.createdAt | date('d/m/Y à H:i') }}
                    </small>
                </p>
            </div>
        </div>
        <div class="col-12 separator">                  
            <h2>Ajouter un commentaire</h2>
                {{ form_start(commentForm) }}
                    <div class="mb-3">
                        {{ form_label(commentForm.content, 'Connectez-vous pour écrire un commentaire', {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(commentForm.content, {'attr': {'class': 'form-control', 'rows': 5}}) }}
                    </div>
                        <button type="submit" class="btn btn-primary mb-3">Enregistrer</button>
                {{ form_end(commentForm) }}                
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <h2>Liste des commentaires</h2>       
                {% for comment in trick.comments %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="comment-container">
                            <div class="avatar-container">
                                <img src="https://i.pravatar.cc/300" alt="{{ comment.user.lastname }} Avatar" class="avatar-img">  
                                </div>                              
                                <h5 class="card-title comment-content">{{ comment.content }}</h5>
                                <div class="btn-group d-flex" role="group">
                                            <a href="{{ path('tricks_editcomment', {'id': comment.id })}}" class="btn btn-success"><i class="far fa-edit fa-lg"></i></a>
                                            <a href="{{ path('tricks_deletecomment', {'id': comment.id })}}" class="btn btn-danger"><i class="far fa-trash-alt fa-lg"></i></a>
                                        </div> 
                                <p class="card-text">Publié par {{ comment.user.lastname }} {{ comment.user.firstname }}, le {{ comment.createdAt | date('d/m/Y à H:i') }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
           
        </div>
    </main>
      <!-- Include the custom scripts.js file -->
    <script src="{{ asset('assets/js/scripts.js') }}"></script>
{% endblock %}
